:root {
    --light-body-background: #f8f8f8;
    --light-footer-background: #222222;
    --light-card: #FFFFFF;
    --light-card-alt: #FDFDFD;
    --light-font: #222222;
    --light-button: #171717;
    --light-button-text: #FFFFFF;
    --light-footer-font: #FFFFFF;
    --font-main: Inter, sans-serif;
}

@keyframes fadeInNav {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

@keyframes shake {
    0%   { transform: rotate(0deg); }
    10%  { transform: rotate(-15deg); }
    20%  { transform: rotate(15deg); }
    30%  { transform: rotate(-10deg); }
    40%  { transform: rotate(10deg); }
    50%  { transform: rotate(-5deg); }
    60%  { transform: rotate(5deg); }
    70%  { transform: rotate(-3deg); }
    80%  { transform: rotate(3deg); }
    90%  { transform: rotate(-1deg); }
    100% { transform: rotate(0deg); }
}

html, body, main {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: var(--light-body-background);
    font-family: var(--font-main);
}

p, h1, h2, h3, h4, a {
    font-family: var(--font-main);
    color: var(--light-font);
}

h1, h2 {
    font-family: inherit;
    font-size: 64px;
    font-weight: bold;
    text-align: left;
}

h3 {
    font-size: 32px;
    text-align: center;
}

h4 {
    font-size: 20px;
    font-weight: bold;
}

a:focus,
button:focus {
    outline: 2px solid var(--light-button);
    outline-offset: 4px;
    border-radius: 4px;
}

.contact__link:focus {
    outline: 2px solid var(--light-footer-font);
    outline-offset: 8px;
    border-radius: 8px;
}

a:focus-visible,
button:focus-visible {
    outline: 2px solid #000;
    outline-offset: 4px;
}

.u-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    padding-top: 180px;
    padding-bottom: 180px;
}

.u-shake {
    display: inline-block;
    will-change: transform;
}
  
  .u-shake:hover {
    animation: shake 0.8s ease-in-out both;
}

.text-light {
    font-weight: lighter;
    text-align: left;
}

.text-lg {
    font-size: 24px;
}

.text-md {
    font-size: 20px;
}

.text-sm {
    font-size: 18px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: auto; /* changed from 30px to auto for wrapping */
    padding: 15px 0 10px;
    background-color: var(--light-body-background);
    animation: fadeInNav 1s ease-out both;
    border-bottom: none; /* remove the current border */
  }

  nav::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: black;
  }
    

.nav__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 50px;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.nav__link {
    display: inline-block;
    font-size: 16px;
    font-weight: lighter;
    text-decoration: none;
    transition: transform 0.0001s ease-in;
    will-change: transform;
}

.nav__link:hover {
    transform: scale(1.05);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 100px;
    padding-top: 100px;
}

.hero__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 555px;
    gap: 20px;
}

.hero__text-greeting {
    animation: fadeUp 0.8s ease-out 0.2s both;
}

.hero__text-name {
    animation: fadeUp 0.8s ease-out 0.4s both;
}

.hero__text-description {
    animation: fadeUp 0.8s ease-out 0.6s both;
}

.hero__text-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 50px;
    border-radius: 8px;
    background-color: var(--light-button);
    cursor: pointer;
    color: var(--light-button-text);
    text-decoration: none;
    animation: fadeUp 0.8s ease-out 0.8s both;
    transition: background-color 0.3s ease-in-out;
    will-change: transform;
}

.hero__text-button:hover {
    background-color: #333;
}

.hero__image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    animation: fadeUp 0.8s ease-out 0.6s both;
}

.about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 100px;
}

.about__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
}

.about__description {
    margin-top: 12px;
}

.about__image {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about__image-file {
    width: 300px;
    height: auto;
    border-radius: 10px;
}

.about__image-text {
    position: relative;
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    padding-top: 10px;
}

.career {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 100px;
}

.career__content-description {
    margin-top: 12px;
}

.career__content-timeline {
    width: 100%;
    padding-top: 100px;
}

.stack {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 100px;
    padding-bottom: 0;
}

.stack__text {
    width: 100%;
}

.stack__text-description {
    max-width: 555px;
    margin-top: 12px;
}

.stack__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 500px;
    height: 157px;
    border-radius: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.stack__card-row-a,
.stack__card-row-b {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
}

.stack__card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.stack__card-icon-tech {
    width: 45px;
    height: 45px;
    object-fit: contain;
    border-radius: 15px;
}

.certifications {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 100px;
    padding-top: 0;
    margin-top: -200px;
    margin-bottom: 100px;
}

.certifications__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.certifications__wrapper-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 60px;
    flex-wrap: wrap;
    margin-top: 40px;
}

.certifications__wrapper-diploma {
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    will-change: transform;
}

.certifications__wrapper-diploma:hover {
    transform: scale(1.05);
    background-color: #333;
}

.projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 100px;
    padding-top: 0;
    margin-top: -100px;
}

.projects__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.projects__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    gap: 100px;
    padding-top: 80px;
    padding-bottom: 100px;
}

.projects__card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: var(--light-card);
    width: 396px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.projects__media {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 192px;
    border-radius: 11px;
    overflow: hidden;
    margin-bottom: 16px;
}

.projects__image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.projects__name {
    margin: 0 0 12px;
}

.projects__description {
    line-height: 1.5;
    margin-bottom: 16px;
}

.projects__link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}

.projects__icon {
    width: 25px;
    height: 25px;
    transition: transform 0.3s ease;
}

.projects__link:hover .projects__icon {
    transform: scale(1.05);
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 100px;
}

.contact__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    padding-top: 150px;
    background-color: var(--light-footer-background);
    border-radius: 100px 100px 0 0;
}

.contact__card-title {
    color: var(--light-footer-font);
}

.contact__card-subtitle {
    padding-top: 20px;
    color: var(--light-footer-font);
}

.contact__card-content {
    text-align: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 20px;
    padding-left: 2rem;
    padding-right: 2rem;
    color: #FFFFFF;
}

.contact__card-cta {
    padding-top: 20px;
    color: var(--light-footer-font);
}

.contact__card-stack-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.contact__card-stack-container-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    padding: 5px;
    background-color: #FDFDFD;
    border-radius: 15px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.contact__card-icon-tech {
    width: 50px;
    height: 50px;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 0;
    background-color: var(--light-footer-background);
}

.footer__copyright {
    padding-top: 20px;
    padding-bottom: 20px;
    color: var(--light-footer-font);
}

/* Responsiveness */

@media (max-width: 1190px) {
    .u-container {
        flex-direction: row;
        gap: 60px;
        padding-top: 100px;
        padding-bottom: 100px;
        width: 90%;
        max-width: none;
      }
      .contact__card-title {
        text-align: center;
    }
}



/* Large tablets / Small laptops */
@media (max-width: 1024px) {
    .u-container {
        flex-direction: row;
        gap: 60px;
        padding-top: 100px;
        padding-bottom: 100px;
        width: 90%;
        max-width: none;
      }
    
    .hero {
        flex-direction: column;
        gap: 60px;
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .hero__text {
        width: 100%;
        align-items: flex-start;
        text-align: left;
    }

    .hero__text-name,
    .hero__text-greeting,
    .hero__text-description {
        text-align: left;
    }

    .hero__image-file {
        max-width: 220px;
        width: 100%;
        height: auto;
    }

    .about {
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
      }
      
      .about__content {
        width: 100%;
      }
      
      .about__image {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
      .about__image-file {
        width: 100%;
        max-width: 400px;
        height: auto;
        border-radius: 10px;
      }
      
      .about__image-text {
        font-size: 12px;
        font-weight: 300;
        padding-top: 10px;
        text-align: center;
      }
      
    .career {
        flex-direction: column;
        gap: 60px;
        padding-top:100px;
    }

    .stack {
        flex-direction: column;
        gap: 60px;
        padding-top: 100px;
    }

    .certifications {
        flex-direction: column;
        gap: 60px;
        padding-top: 100px;
    }

    .projects {
        flex-direction: column;
        gap: 60px;
        padding-top: 100px;
    }

    .projects__cards {
        gap: 50px;
    }

    .contact {
        gap: 60px;
        padding-top: 10px;
    }

    .contact__card {
        width: 85%;
        padding-top: 50px;    }

    .contact__card-title {
        text-align: center;
    }
    
    .footer {
        width: 85%;
    }

}
  




/* Small tablets */
@media (max-width: 768px) {


    h1, h2 {
        font-family: inherit;
        font-size: 40px;
        font-weight: bold;
        text-align: left;
    }
    
    h3 {
        font-size: 22px;
        text-align: center;
    }
    
    h4 {
        font-size: 10px;
        font-weight: bold;
    }

    nav {
        flex-direction: column;
        flex-wrap: wrap;
        padding-top: 20px;
        width: 100%;
      }
    
      .nav__list {
        flex-wrap: wrap;
        row-gap: 20px;
        column-gap: 20px;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
      }
    
      .nav__link {
        flex: 0 0 auto;
      }
      
      .u-container {
          flex-direction: column;
          gap: 60px;
          padding-top: 100px;
          padding-bottom: 100px;
          width: 90%;
          max-width: none;
        }
        
        
        
        .hero {
            gap: 60px;
            padding-top: 120px;
            padding-bottom: 120px;
        }
        
        .hero__text {
            width: 100%;
            align-items: flex-start;
            text-align: left;
            order: 2;
            
        }
        
        .hero__text-name,
        .hero__text-greeting,
        .hero__text-description {
            text-align: left;
        }
        
        .hero__image-file {
            max-width: 220px;
            width: 100%;
            height: auto;
            order: 1;
            
        }
        
        .about {
            flex-direction: column;
            align-items: flex-start;
            gap: 40px;
        }
        
        .about__content {
            width: 100%;
        }
        
        .about__image {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        .about__image-file {
            width: 100%;
            max-width: 600px;
            height: 250px;
            object-fit: cover;
            object-position: center 40%;
            border-radius: 10px;
        }
        
        .about__image-text {
            display: none;
        }
        
        .career {
            flex-direction: column;
            gap: 60px;
            padding-top:100px;
        }
        
        .stack {
            flex-direction: column;
            gap: 60px;
            padding-top: 100px;
        }
        
        .stack__card {
            width: 50%;
        }
        
        .certifications {
            flex-direction: column;
            gap: 60px;
            padding-top: 100px;
        }
        
        .certifications__wrapper-card {
            flex-direction: column;
            
        }
        
        .projects {
            flex-direction: column;
            gap: 60px;
            padding-top: 100px;
        }
        
        .projects__cards {
            flex-direction: column;
            gap: 50px;
        }
        
        .contact {
            gap: 60px;
            padding-top: 10px;
        }
        
        .contact__card {
            width: 80%;
            padding-top: 50px;
            padding-left: 20px;
            padding-right: 20px; 
        }
        
        .contact__card-title {
            text-align: center;
        }
        
        .footer {
            width: 80%;
            height: 60px;
            margin-top: -1px;
            margin-bottom: -1px;
        }
        
        .footer__copyright {
            text-align: center;
            font-size: 12px;
            padding-bottom: 0;
            
        }
        
    }
        
        


/* Mobile */
@media (max-width: 430px) {  
    
    .u-container {
        flex-direction: column;
        gap: 60px;
        padding-top: 50px;
        padding-bottom: 50px;
        width: 85%;
        max-width: none;
      }

      .career__content-timeline {
          width: 100%;
          padding-top: 50px;
        
      }

      .stack__card {
        width: 100%;
        margin-bottom: 50px;
      }

      .contact {
        gap: 60px;
        padding-top: 10px;
    }
      
    .contact__card {
        width: 80%;
        padding-top: 50px;
        padding-left: 20px;
        padding-right: 20px; 
    }

    .contact__card-title {
        text-align: center;
    }
    
    .footer {
        width: 80%;
        height: 80px;
        }

    .footer__copyright {
        text-align: center;
        font-size: 12px;
        padding-bottom: 0;
    }

}
